@charset "utf-8";
body{
background-color: bisque;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{ 
    color: black;
}

h1{ color: #472b96;
    background-color: black;
    line-height: 200%;
    text-align: center;
    text-shadow:3px 3px 5px #cccccc;
    
}

h2{ color: #f00;
    text-align: center
}

ul{
color: rgb(5, 63, 44);
font-weight: bold;
}


footer{ 
    color: #FCBCB8;
    font-style: italic;
    text-align:center
}

