@charset "utf-8";
@import url(fundo.jpg);

body {

    background-color: rgb(17, 89, 65);
    background-repeat:initial;
    background-size:cover;
}
h1, p {
    text-align: center;
}
}

h2 {
    text-align: center;
    color: rgb(222, 243, 242);
    font-size: large;
    background-color: rgb(42, 156, 133);
}

h3 {
    text-align: justify;
    color: antiquewhite;
    font-size: larger;
    text-align: center;
}

ul,
li {
    text-align: center;
    color: aquamarine;
    font-size: large;
}

região {
    text-align: center;
    background-color: aquamarine;
    color: black
}

.red {
    text-align: center;
    color: antiquewhite;
    font-size:larger
    
}

footer {
    font-style: italic;
    color: whitesmoke;
    text-align: center;
    text-shadow: bold;
    background-color: rgb(44, 135, 109);
}