@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

body {
    background-image: url(fundocorreto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #c1c2bc;
    background-color: #533618;
    font-family: 'Philosopher', sans-serif;
    font-size:20px;
}
.container{
 padding-left: 10em;
 padding-right:10em ;
 align-items: center;
}
.header1   {
    text-decoration: none;
    color:#c1c2bc;
}

.fundo1{
    background-color:#725436;
    border:2px #c1c2bc solid ;
    padding: 10px;
    /* height: 370px; */
display: flex;
flex-direction: column;
align-items: center;
/* width:80%; */


    
}

header {

    text-align: center;
    padding: 0 20px;
    color: #c1c2bc
}
.img1{
    float: left;
    margin-right:10px ;
}
.img1:hover{
    background-color: #015116;
    color:#015116;
    opacity: 0.5;
}

nav {
    text-decoration: none;

}

main {
    padding: 2em;
}

h1 {
    margin-top: 80px;
    font-size: 50px;
}

h2 {
    color: #314a20;
    font-size:30px;
}

.lista {
    text-decoration: center;
    margin-top: 100px;
    padding: 2em;
}
a:hover {
    background-color: #015116;
}

.img1:hover {
    background-color: #314a20;
}

.video {
    float:left;
}
.textvideo{
    text-align:left;
    /* margin-top:20px; */

}
p::selection {
    background-color: #314a20;
    color: #c1c2bc;
}

::selection {
    background-color: #533618;
    color: #c1c2bc;
}
a:hover{
    color: #533618;
}
.p2{
    margin-top: 3%;
}
.p3{
    margin-top: 3%;
}
.Letramaior::first-letter {
    font-size: 170%;
    color:#533618;
}

.btn {
    border: #015116 2px solid;
    color: #c1c2bc;
    text-decoration: none;
    border-radius: 25px;
    padding:5px 10px;
   
}

.btn2 {
    border: #015116 2px solid;
    color: #c1c2bc;
    text-decoration: none;
    border-radius: 25px;
    text-align: right;
}

.lista li:first-child {

    color: #015116;
}

.lista li:nth-child(3) {
    color: #725436;
}

.lista li:nth-child(2) {
    color: #725436;
}

.lista li:last-child {
    color: #015116;
}

 footer p::before {
    content: "\00A9";
}

footer p::after {
    content: " Joyce Monteiro Mendes";
}    
footer{
    text-align: center;
} 