@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-image: url(fundocorreto.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #c1c2bc;
    background-color: #533618;
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    text-align: center;

}

.header1 {
    text-decoration: none;
    font-size: 20px;
    color: #533618;
    border: #314a20 3px solid;
    background-color: #c1c2bc;
    font-weight: bold;
    padding: 0.4em;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 20px;
}

.img1:hover {
    background-color: #015116;
    color: #015116;
    opacity: 0.5;

}

img:hover {
    background-color: #314a20;
    color: #015116;

}

.icone {
    margin-top: 30px;
}

.historia {
    border: #c1c2bc 3px solid;
    border-radius: 20px;
    background-color: #533618;
    padding: 2em;
    /* display: flex; */
    margin-top: 30px;
    align-items: center;
    opacity: 92%;
    margin-left: 10em;
    margin-right: 10em;
}


.histo1 {
    float: left;
    border: #314a20 3px solid;
    margin-bottom: 80px;
    flex-direction: column;

}

h1 {
    margin-top: 30px;
    font-size: 100px;
    color: #533618;
    font-weight: bold;
}

h2 {
    color: #015116;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;

}

a:hover {
    background-color: #015116;

}

.Letramaior::first-letter {
    font-size: 170%;
    color: #015116;

}

.btn {
    border: #015116 2px solid;
    background-color: #c1c2bc;
    color: #533618;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 10px;

}

.btn2 {
    border: #015116 2px solid;
    color: #533618;
    background-color: #c1c2bc;
    text-decoration: none;
    border-radius: 25px;
    text-align: right;
}

.curiosidade {
    border: #c1c2bc 2px solid;
    border-radius: 20px;
    background-color: #533618;
    font-weight: bold;
    background-image: url(gif2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    /* display: flex; */
    margin-top: 10px;
    align-items: center;
    opacity: 92%;
    margin-left: 10em;
    margin-right: 10em;
}

.curio1 {
    float: left;
    border: #314a20 3px solid;
    margin-bottom: 80px;
    flex-direction: column;
}

.noticias {
    border: #c1c2bc 2px solid;
    border-radius: 20px;
    background-color: #533618;
    padding: 2em;
    /* display: flex; */
    margin-top: 10px;
    align-items: center;
    opacity: 92%;
    margin-left: 10em;
    margin-right: 10em;
}

.p1 {
    float: left;
    border: #314a20 3px solid;
    margin-bottom: 80px;
    flex-direction: column;
}

p::selection {
    color: #c1c2bc;
    background-color: #015116;
}

h1::selection {
    background-color: #c1c2bc;
    color: #314a20;
}

h2::selection {
    background-color: #c1c2bc;
    color: #015116;
}

.p2 {
    float: right;
    border: #314a20 3px solid;
    margin-bottom: 80px;
    flex-direction: column;
}

.p3 {
    float: left;
    border: #314a20 3px solid;
    margin-bottom: 80px;
    flex-direction: column;
}

footer p::before {
    content: "\00A9";
}

footer p::after {
    content: " Joyce Monteiro Mendes";
}

footer {
    border: #c1c2bc 2px solid;
    border-radius: 20px;
    background-color: #533618;
    padding: 0.3em;
    /* display: flex; */
    margin-top: 10px;
    align-items: center;
    opacity: 92%;
    margin-left: 10em;
    margin-right: 10em;
}