@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');

body {
    background-image: url(fundo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
    font-size: 25px;

}

h2 {
    font-weight: bolder;
    font-weight: 800;
    font-size: 100px;
    font-style: italic;
    color: aliceblue;
    text-align: center;
    font-family: 'BIZ UDPMincho', serif;

}

h4 {
    font-family: 'BIZ UDPMincho', serif;
    ;
    text-align: center;
    color:antiquewhite

}

.premeira {
    font-family: 'Hurricane', cursive;
    background-color: rgb(162, 149, 131);
    list-style: inside;
    list-style-type: decimal;
    text-align: center;

}

.segunda {
    font-family: 'Passions Conflict', cursive;
    font-size: x-large;
    background-color: rgb(91, 131, 138);
    list-style: inside;
    list-style-type: decimal;
    text-align: center;
    font-weight:bold



}

.terceira {
    font-family: 'Cormorant Garamond', serif;
    background-color: beige;
    list-style: inside;
    list-style-type: decimal;
    text-align: center;

}

footer {
    color: antiquewhite;
    text-align: center;
}