p{
	color: rgb(0, 1, 7);
	font-size: 1.2em;
	font-family: 'Courier New', Courier, monospace;
}
h1{
	font-family: sans-serif;
	text-align: center;
	background-color: #57cfe4;
}
h2{ 
	font-family: arial;
	color: #0887c2;
	text-align: center;
	background-color: #185c68;
}
small{
	color: rgb(16, 1, 146);
	font-size: 0.5em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
