@charset "UTF-8";
* {
    background-color: antiquewhite;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* . para chmar a class \ # para charmar um ID */
.esqueci {
    color: red;
    font-weight: bold;

}
/* p#'id' para configurar todos os paragrafos de uma vez toda */
 p#esquece2 {
     color:rgb(81, 6, 78);
     font-weight: bold;
 }

 section p{
     color:yellowgreen;

 }