@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Inspiration&display=swap");
body {
    background-image: url('fundo.avif') ;
    background-repeat: no-repeat ;
    background-size: cover;
  background-color: rgb(218, 217, 192);
  color: #193543;
  font-family: "Dosis", sans-serif;
}
h1 {
  text-align: center;
  background-color: rgb(199, 199, 169);
  color: black;
  line-height: 200%;
  font-family: "Dosis", sans-serif;
  text-shadow: 3px 3px 5px #5a5649;
}
h2 {
  text-align: center;
  background-color: rgb(199, 199, 169);
  font-family: "Dosis", sans-serif;
  text-align: center;
  color: beige;
}
p {
  text-align: center;
  color: black;
  font-size: 1.0em;
  text-indent: 3em;
  background-color: rgb(190, 189, 172);
}
ul {
  list-style-position: inside;
  text-align: center;
  font-weight: bold;
  color: rgb(51, 34, 2);
}
footer {
  text-align: center;
  color:black;
  font-size: 0.75em;
  font-style: italic;
  font-family: "Dosis", sans-serif;
}

.cor_texto {
  color: rgb(1, 20, 21);
}

p.fundo {
  background-color: rgb(184, 178, 150);
}

.computer{
    display: flex;
}
.alinhar{
    float: center;
}