@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

.titulo {
    height: 30vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
    background-color: white;
}

.menu nav {
    display: flex;
    gap: 2em;
}

.menu a {
    font-size: 1.5em;
    font-weight: 600;
    text-decoration: none;
<<<<<<< HEAD
    color: rgb(3, 3, 60);
}

.titulo span {
    color: red;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    border: 2px black solid;
}

figure {
    border: 3px black solid;
    display: flex;
    margin-bottom: 20px;
}

.blocos {
    margin-bottom: 30px;
    width: 300px;
    display: flex;
    
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.blocos>div{
    flex: 1 1 400px;
    flex-wrap: wrap;
}

=======
    color:rgb(3, 3, 60);
} 
.container{
    display: grid;
    grid-template-columns:2;
    grid-template-rows: 3;

}
>>>>>>> 9f3f78055a1e3334f5be3e54f60b54d5c0c79617
