@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap');
body {
    font-family: "Tahoma", sans-serif;
    background: #a5a58d;
    color: #fdfcdc;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Plus Jakarta Sans', sans-serif;

}
.col{
    width:50% ;
    float: left;
}
.four{
    float: left;
    width: 25%;
}
.lista{
    background: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 10px;
}
.lista2{
    background: #fff;
    color: #555;
    list-style-type: none;
    border: 1px solid #555;
    margin: 0;
    padding: 10px;
}
.lista .descates {
    background-color: rgb(54, 5, 5);
    color: rgb(192, 9, 9);
    font-size: 25px;
}
.lista2 .vendidos {
    background-color: rgb(54, 5, 5);
    color: rgb(192, 9, 9);
    font-size: 25px;
}
.lista li{
    padding: 20px;
    border-bottom: 20px solid #eee;
    text-align: center;
}
.lista2 li{
    padding: 20px;
    border-bottom: 20px solid #eee;
    text-align: center;
}